extends layout

block content
  a(href='/') Wróć do listy quizów
  h1 Nowy quiz
  
  form#form(action="", method="post")
    .statQuizFrame
      input(type="hidden", name="_csrf", value=csrfToken)
      input#numberOfQuestions(type="hidden", name="numberOfQuestions", value="1")
      label(for="title") Tytuł quizu
      input(type="text" id="title" name="title")

      label(for="intro") Opis quizu
      textarea(id="intro" name="intro")

      h2 Pytania
      button#buttonAdd(type="button") Dodaj pytanie
      button#buttonDel(type="button") Usuń ostatnie pytanie

      #frame
    
    if error
      p.redtext= error
    p#ermessage.redtext(hidden)
    input(type="submit" value="Dodaj quiz")
      
    
  
  script(src="/static/scripts/addQuiz.js")