extends layout

block content
  form.frame(method="post") 
    input(type="hidden", name="_csrf", value=csrfToken)

    label(for="password") Stare hasło
    input#password(type="password", name="password")

    label(for="newpassword") Nowe hasło
    input#newpassword(type="password", name="newpassword")

    if error
      p.redtext= error
    input(type='submit', value="Zmień")