doctype html
html
  head
    title= "QUIZ"
    link(rel='stylesheet', href='/static/stylesheets/main.css')
  body
    block user
      if user
        #user
          | user: #{user} &#8226; 
          a(href="/logout") logout
          |  &#8226; 
          a(href="/change") change password
    
    block content
    footer Witold Drzewakowski