@import "buttons.css";

a {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 14px;
  background-color: whitesmoke;
}

#container {
  display: grid;
  grid-template-rows: auto;
  gap: 20px 20px;
  justify-items: stretch;
  padding-top: 20px;
}

.item {
  background-color: white;
  top: auto;
  padding: 40px;
  min-height: 180px;
}

.solved {
  background-color: #d5ffd5;
  color: grey;
  top: auto;
  padding: 40px;
  min-height: 180px;
}

#frameAdd {
  top: auto;
  padding: 40px;
  position: relative;
  min-height: 180px;
  border: 0.6px gray dashed;
}

.frameInsideAdd {
  margin: auto;
  width: 180px;
  height: 180px;
  position: absolute;
  vertical-align: middle;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.horizontal {
  background-color: #DFDAD7;
  width: 60%;
  height: 20px;
  top: calc(50% - 10px);
  left: 20%;
  position: absolute;
}
.vertical {
  background-color: #DFDAD7;
  width: 20px;
  height: 60%;
  top: 20%;
  left: calc(50% - 10px);
  position: absolute;
}

@media only screen and (min-width: 550px) {
  .borderframe {
    padding: 20px;
    border: 0.6px solid black;
    margin: 10px;
  }
}

.redframe {
  background-color: #ffcece;
  color: black;
}

.greenframe {
  background-color: #ceffc7;
  color: black;
}

#user {
  text-align: right;
}

@media only screen and (min-width: 1200px) {
  #container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  body {
    margin: 40px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 900px) {
  #container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  body {
    margin: 40px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 550px) {
  #container {
    grid-template-columns: 1fr 1fr;
  }
  body {
    margin: 20px;
  }
}

@media only screen and (max-width: 550px) {
  #container {
    grid-template-columns: 1fr;
  }
  body {
    margin: 20px;
  }
}

h1, h2, h3 {
  font-weight: 300;
}

label {
  padding: 10px;
  display: inline-block;
}

#quizPoints {
  text-align: center;
  display: block;
  padding: 40px;
  border: 0.6px solid black;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 20px;
}

.statQuizFrame {
  border: 0.6px solid black;
  padding: 20px;
  margin: 10px 0px;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: beige;
  padding: 3px 20px 3px 0px;
  text-align: right;
  width: 100%;
  box-sizing: border-box;
}

#wstep, #intro {
  padding-bottom: 20px;
  margin-bottom: 0;
  font-style: italic;
  color: gray;
}

input[type="text"], input[type="password"], textarea {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  background-color: white;
  color: grey;
  margin: 3px;
  display: block;
  outline: none;
  resize: none;
  font-family: inherit;
  font-size: small;
}

input[type="text"].smalltf {
  width: 100px;
  display: inline-block;
}

.szare {
    color: gray;
    font-size: small;
    padding-right: 7px;
}


#clock_cont {
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    padding: 10px;
    font-weight: 200;
    margin: 0;
    float:right;
}

.errorstyle {
    color: crimson;
    font-size: smaller;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0px;
}
  
td, th {
    border: solid 0.2px grey;
    padding: 10px;
}
  
tr:nth-child(even) {
    background-color: white;
}