#answers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
    column-gap: 5px;
    row-gap: 5px;
}



.answerDiv {
    text-align: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: solid black 0.2px;
    position: relative;
}

#answers .answrong:after {
    content: "\2716";
}
#answers .answrong {
    background-color: red;
}

#answers .anscorrect:after {
    content: "\2714";
}
#answers .anscorrect {
    background-color: darkseagreen;
}

#answers .answerDiv:hover .popup {
    display: inline;
}

.popup p {
    padding: 1px;
    margin: 0px;
}

#answers .popup {
    width: 200px;
    font-size: x-small;
}