.wide_button {
    width: 100%;
}

[type="button"] {
    border: none;
    padding: 8px;
    font-family: inherit;
    border: 1px solid;
    cursor: pointer;
    color: black;
}


.pinkbtn {
    background-color: lightpink;
    border-color: #ffa3b1;
}

.yelbtn {
    background-color: cornsilk;
    border-color: cornsilk;
}

.redbtn {
    background-color: crimson;
    border-color: red;
    width: 10%;
}

.pinkbtn:hover {
    background-color: #ffa3b1;
}


input[type="button"]:disabled {
    background-color: #cbcbcb;
    border-color: #cbcbcb;
    color: black;
    cursor: initial;
}

.threebuttons [type="button"] {
    float: left;
}
.threebuttons [type="button"]:not(.redbtn) {
    width: 30%;
}

.threebuttons:after {
    clear: both;
}

.threebuttons [type="button"]:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.threebuttons {
    margin-top: 15px;
}

.groupButton {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.groupButton [type="button"] {
    flex-grow: 1;
}